.card {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.card .card-inner {
  background-color: #3a3e4c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: all .2s;
  transform-style: preserve-3d;
}

.card-back {
  background: #3a3e4c;
}

.card-front {
  background: #252731;
  position: absolute;
}

.card.opened .card-front {
 transform: rotateY(180deg);
}

.card.closed .card-front {
 transform: rotateY(0deg);
}

.card.opened .card-back {
 transform: rotateY(180deg);
  opacity: 0;
}

.card.closed .card-back {
 transform: rotateY(0deg);
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
}

.card .card-inner.card-back img {
  width: 50%;
  height: 50%;
}